.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e7eaf2;
}
.purpleBlob {
  position: fixed;
  bottom: -150px;
  left: -150px;
  transform: rotate(16.86deg);
}
.notPurpleBlob {
  position: fixed;
  top: -150px;
  right: -250px;
  transform: rotate(21.94deg);
}
@media screen and (max-width: 768px) {
  .purpleBlob,
  .notPurpleBlob,
  .background {
    opacity: 1;
    animation: fade-out 1s forwards;
  }
}
@media screen and (min-width: 768px) {
  .purpleBlob,
  .notPurpleBlob,
  .background {
    opacity: 0;
    animation: fade-in 1s forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
